.App {
  text-align: center;
  width: 700px;
}

.navContainer {
  background-color: rgba(51, 49, 49, 0.774);
  width: 665px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 10px 10px;
  padding: 10px 30px;
}

.cards{
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 152px ;
  margin:10px ;
  height:300px;  
  
}

.affich{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}